/*======COMMON*/
@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSans-Bold.woff")
  format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans-Regular.woff")
  format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "OpenSans Regular", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*======HEADER*/

.header {
  background: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding: 30px 0 120px 0;
  width: 100%;

}

.header::after {
  content: "";
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.intro {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.intro-relative {
  position: relative;
  z-index: 1;
}

.header_title {
  margin: 120px auto 0 auto;
  font-style: normal;
  font-weight: 700;
  max-width: 687px;
  font-size: 45px;
  line-height: 1.59;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "OpenSans Bold", sans-serif;
}

@media (max-width: 641px) and (max-width: 1199px) {
  .header {
  background-image: url("../images/banner-bg-tablet.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding: 30px 0 120px 0;
  width: 100%;
  }
  .header_title {
    font-size: 26px;
  }
  .intro {
  max-width: 767px;
  padding: 0 35px;
  margin: auto;
  }
}
@media (max-width: 640px) {
  .header {
  background-image: url("../images/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  padding: 30px 0 120px 0;
  width: 100%;
  min-height: 640px ;
  }

.intro {
  max-width: 360px;
  padding: 0 15px;
  margin: auto;
}
.header_title {
  font-size: 26px;

  }
}

/*Preview content*/



.preview_title {
  text-align: center;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  margin: 60px auto 15px auto;
  line-height: 24px;
}

.preview_title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 28px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
}
@media (max-width: 641px) and (max-width: 1199px) {
  .preview_title {
 font-size: 18px;
  }
}

@media (max-width: 640px) {
  .preview_title {
 font-size: 16px;
  }
}
.trends_container {
  width: 100%;
  margin-bottom: 60px;

}
.trends_body {
  display: flex;
  justify-content: space-between;
}
.trends_column {
  flex: 1;
  min-width: 320px;
}
.trends_column:not(:last-child) {
  margin-right: 5px;
}
@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
.trends_container {
  margin-bottom: 60px;
}
.trends_body{
  display: flex;
  flex-wrap: wrap;
}
.trends_column {
  flex-basis: 49%;
 }
.trends_column:nth-child(even) {
  margin-right: 5px;
  }
.trends_column:nth-child(4n+1), 
.trends_column:nth-child(4n+2)
{
  margin-bottom: 5px;
}
}


@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
.trends_container {
  max-width: 1200px;
  margin-bottom: 60px;
}
.trends_body {
  display: flex;
}
.trends_column {
  flex-basis: 25%;
  }
.trends_column:not(:last-child) {
  padding-right: 5px;
  }
}
@media (max-width: 640px) and (orientation: portrait) {
.trends_container {
  margin-bottom: 40px;
}
.trends_body {
  display: block;
}
.trends_column {
  flex-basis: 100%;
  padding-bottom: 5px;
}

}
@media (max-width: 640px) and (orientation: landscape) {
  .trends_container {
  margin-bottom: 40px;
}
  .trends_body {
    display: flex;
    flex-wrap: wrap;
  }
  .trends_column {
    flex-basis: 50%;
    min-width: 180px;
  }
}
.item-trends {
  padding: 35px;
  display: flex;
  align-items: flex-end;
}

.trends_item-flowers {
  background: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  position: relative;
  background-size: cover;
  height: 100%;
  
}

.trends_item-flowers::before {
  content: "";
  background-color: #000;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  background-size: cover;
}

.trends_item-cheese {
  background: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  position: relative;
  background-size: cover;
  height: 100%;

}

.trends_item-cheese::before {
  content: "";
  background-color: #000;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  background-size: cover;
}

.trends_item-rocks {
  background: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  position: relative;
  background-size: cover;
  height: 100%;
}

.trends_item-rocks::before {
  content: "";
  background-color: #000;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  background-size: cover;
}

.trends_item-lemons {
  background: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  position: relative;
  background-size: cover;
  height: 100%;
}

.trends_item-lemons::before {
  content: "";
  background-color: #000;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  background-size: cover;
}

.description_trend {
  border: solid 3px #b59f5b;
  position: relative;
  padding: 35px 30px;
  
}

.item-trends_text {
  font-family: "OpenSans Bold", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  position: relative;
  
}
.trend_text {
color: #fff;
text-transform: uppercase;
text-decoration: none;
}
.trend_text:hover {
  color: #b59f5b;
  cursor: pointer;
}
@media (max-width: 641px) and (max-width: 1199px) {
  .item-trend_text {
 font-size: 17px;
  }
}

@media (max-width: 640px) {
  .item-trend_text {
 font-size: 16px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_inner {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__button {
display: none;
}


.nav_menu {
  display: flex;
  font-size: 13px;
  list-style-type: none;
  text-transform: uppercase;
}

.nav_li:not(:first-child) {
  margin-left: 35px;
}
.nav_link {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.nav_link:hover {
  border-bottom: 1px solid #fff;
  text-align: center;
}
@media (min-width: 641px) and (max-width: 1199px) {

.header_navigation {
  display: flex;
  flex-direction: row-reverse;
}
  .nav_link {
  display: none; 
}
.menu__button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    display: block;
}
.menu__button:before  {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}
.menu__button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;  
    bottom: 0;
}
.menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}
}
@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .header_title {
    margin-top: 40px;
  }
  .logo {
    padding-top: 180px;
  }
.nav_link {
  display: none; 
}
.header_navigation {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
  width: 100%;
}
.menu__button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    display: block;
}
.menu__button:before  {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}
.menu__button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;  
    bottom: 0;
}
.menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}
}
/*======POSTS*/


.inner_wraper {
  margin-top: 60px;
}
.inner {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  justify-content: space-between;
}

.posts {
  max-width: 778px;
}

.post {
  display: flex;
}

.post:not(:last-child) {
  margin-bottom: 60px;
}

.category {
  padding: 0;
  margin-left: 25px;
  font-size: 14px;
}

.category_items {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  padding: 0;
  margin-bottom: 15px;
}

.category_item {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  color: #b59f5b;
  font-size: 14px;
}
.category_item:hover {
  border-bottom: 2px solid #b59f5b;
}

.category_li:not(:last-child) {
  margin-right: 20px;
}

.post_title {
  font-size: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 24px;
}
.post_title-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}
.post_title-link:hover {
  color: #b59f5b;
  cursor: pointer;

}
@media (max-width: 641px) and (max-width: 1199px) {
  .post_title {
 font-size: 17px;
  }
}

@media (max-width: 640px) {
  .post_title {
 font-size: 16px;
  }
}

.date {
  color: #888888;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.author {
  margin-left: 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.post_content {
  color: #0f0d0e;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.paragraph {
  margin-top: 21px;
}
/*======ASIDE NEW POSTS*/

.aside {
  margin-left: 40px;
}
.new {
  display: flex;
  margin-top: 29px;
  margin-bottom: 22px;
}

.news {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.news::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 28px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
}
.time {
  margin-bottom: 60px;
}

.time_date {
  color: #9a9a9a;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.new_text {
  margin-left: 19px;
}

.new_name {
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
}
.new_name:hover {
  color: #b59f5b;
  cursor: pointer;

}

.search {
  display: flex;
  position: relative;
  margin-top: 58px;
}

.search_here {
  width: 100%;
  height: 49px;
  padding-left: 19px;
  background: #f4f7f6;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  border: none;
}
.label {
  flex-grow: 1;
}

.button_news {
  height: 49px;
  width: 49px;
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  border: none;
  background-size: 20px;
  background-position: center;
  cursor: pointer;
}

.button_news:hover {
  background-color: #323232;
  transition: background-color 0.6s ease;
}

.search_here:hover {
  border: 1px solid #b59f5b;
}

.search_here:focus {
  border: 1px solid #b59f5b;
  outline: none;
}
/*======ASIDE MAILING LIST*/

.mailing_title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  margin-top: 62px;
}

.mailing_title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
  margin-bottom: 28px;
}

.mailing_list {
  margin: 0 auto;
  max-width: 270px;
}
.mailing_bar {
  max-width: 270px;
  width: 100%;
}
.email {
  height: 48px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
  background-color: #f4f7f6;
}

.email:hover {
  border: 1px solid #b59f5b;
}

.email:focus {
  border: 1px solid #b59f5b;
}

.mailing_button {
  background-color: #b59f5b;
  height: 48px;
  max-width: 640px;
  width: 100%;
  margin-top: 17px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  outline: none;
  border: none;
}

.mailing_button:hover {
  background-color: #323232;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
/*======ASIDE TAGS*/

.tags_title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.tags_title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
}

.tags {
  margin-top: 60px;
}

.tag_list {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.tag_list > li {
  margin: 4px 4px 0 0;
}

.tag_link {
  display: block;
  border: 3px solid #eeeeee;
  padding: 4px 13px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #0f0d0e;
  text-decoration: none;
}
.themes {
  margin-top: 60px;
}

.tag_link:hover {
  cursor: pointer;
  border: 3px solid #b59f5b;
}
/*======ASIDE THEMES*/

.theme_list {
  list-style: none;
}

.theme_item {
  font-weight: 700;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.theme_link {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}
.after_link {
  font-size: 12px;
  color: #b59f5b;
  font-weight: bold;
  bottom: 5px;
  vertical-align: super;
}
.theme_link:hover {
  color: #b59f5b;
}
@media (min-width: 641px) and (max-width: 1199px) {
  .inner {
  display: flex;
  
  margin: auto;
  padding: 0 35px;
  justify-content: space-between;
}
  .post {
  display: flex;
  flex-direction: column;
  }

  .aside {
  margin-left: 30px;
}
  .time {
  margin-bottom: 22px;
  }
  .category {
  margin-left: 0;
  max-width: 767px;
}
}
@media (max-width: 640px) {
  .inner {
  margin: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  
}

.post {
  display: flex;
  flex-direction: column;
  
}
.category {
  margin-left: 0;


}
.posts {
  max-width: 640px;
  width: 100%;
  margin-bottom: 30px;
}
.aside {
 max-width: 640px;
 width: 100%;

}
.img {
  max-width: 345px;
}

.new_paragraph {
  font-size: 14px;
}
.paragraph {
  font-size: 14px;
}
.post_content {
  max-width: 320px;
}
}

/*========PRODUCTs*/



.products {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.product_cards {
  display: flex;
  gap: 10%;
  
}
.product_body {
  display: flex;
  flex-direction: column;

}
@media (min-width: 641px) and (max-width: 1199px) {
  .products {
  max-width: 767px;
  margin: auto;
  padding: 0 35px;
}
  .product_cards {
  display: flex;
  flex-wrap: wrap;
  }
  .product_body {
  padding-bottom: 20px;
  width: 45%;
  }

}
@media (max-width: 640px) {
  .products {
  max-width: 360px;
  margin: auto;
  padding: 0 15px;
}
.product_cards {
  flex-direction: column;
}
.product_body {
 padding-bottom: 20px;
}
}

.description_card {
  flex-grow: 1;
  border: 3px solid #b59f5b;
  padding: 50px 20px;
  margin-top: -30px;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;

}
.shop_image {
  display: flex;
  justify-content: center;
  align-items: center;

}

.product_title {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  line-height: 24px;
  text-align: left;
}
@media (max-width: 641px) and (max-width: 1199px) {
  .product_title {
 font-size: 17px;
  }
}

@media (max-width: 640px) {
  .product_title {
 font-size: 17px;
  }
}
.product_text {
  display: inline-block;
  font-family: "OpenSans Regular", sans-serif;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 22px;
  margin-bottom: 25px;
}
.product_text:hover {
  font-weight: 700;
  cursor: pointer;

}
.footer_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.product_prices {
  display: flex;
  flex-direction: column;

}
.price {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
  text-decoration: line-through;

}
.new_price {
  font-family: "OpenSans Bold", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #0f0d0e;
  
}
.button_shop {
  padding: 15px 29px;
  color: #fff;
  background-color: #b59f5b;
  font-size: 14px;
  font-family: "OpenSans Bold", sans-serif;
  font-weight: bold;
  border: none;
}
.button_shop:hover {
  background-color: #323232;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.card_link {
  text-decoration: none;
  color: #b59f5b;
}
/*======FOOTER*/

.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer_inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
}

.address {
  background-color: #f4f7f6;
  padding: 30px 0;
}
.footer_list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer_list > li:not(:first-child) {
  margin-left: 20px;
}
.text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  z-index: 10;
}

.social_icon {
  display: block;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-position: center;
}

.social_icon_twitter {
  background: url("../svg/004-twitter.svg");
}

.social_icon_pinterest {
  background: url("../svg/001-pinterest.svg");
}

.social_icon_tumblr {
  background: url("../svg/003-tumblr.svg");
}

.copyright {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #999999;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
.copyright_text {
  margin-top: 70px;
}

/*====================POPUP*/

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  z-index: 10;

}
.popup_body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 30px 10px;
}
.popup_content {
  background-color: #fff;
  max-width: 400px;
  padding: 50px 20px;
  width: 100%;
  position: relative;

}

.popup_close {
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  background-size: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -25px;
  right: -1px;

}
.popup_title {
  text-align: center;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  margin: 0 auto;
  line-height: 24px;
}
.popup_title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 28px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
}
@media (max-width: 641px) and (max-width: 1199px) {
  .popup_title {
 font-size: 18px;
  }
}

@media (max-width: 640px) {
  .popup_title {
 font-size: 16px;
  }
}

.popup_text {
  display: block;
  font-size: 13px;
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}

.popup_select {
  width: 100%;
  font-family: "OpenSans Bold", sans-serif;
  font-weight: 400;
  border: none;
  outline: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f4f7f6;
  color: rgba(0, 0, 0, .5);
  background-image: url("../svg/form-arrows.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
  -webkit- appearance: none;
  -moz- appearance: none;
  appearance: none;
}
.popup_select:hover {
  cursor: pointer;
  color: #000;
}
.radio_group_control {
  display: none;
}
.radio_text {
  display: inline-block;
  font-size: 13px;
  font-family: "OpenSans Bold", sans-serif;

}
.radio_text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position:  center center;
  background-size: 15px;
  padding-right: 10px;
}
.radio_group_control:checked + .radio_text::before {
  background-image: url("../svg/form-circle.svg");
}

.textarea_text {
  max-width: 360px;
  width: 100%;
  height: 130px;
  resize: none;
  border: none;
  background-color: #f4f7f6;
  outline: none;

}
textarea::placeholder {
  font-size: 13px;
  font-family: "OpenSans Bold", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}
.send_button {
  background-color: #b59f5b;
  height: 48px;
  max-width: 360px;
  width: 100%;
  margin-top: 17px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  outline: none;
  border: none;
}

.send_button:hover {
  background-color: #323232;
  transition: background-color 0.6s ease;
  cursor: pointer;
}
